<h1>{{user.username}}'s memories</h1>

{{!-- {{#each memories}}
<div>
  <div>
<a href='/city/:id'><h1>{{name}}</h1></a>
</div>
{{!-- <div>
<p>{{description}}</p>
</div>
<div>
<img src="{{imgPath}}">
</div>
<div>
<button type="submit"><a href="/memories/delete">Delete Memory</a></button>
</div>
<button type="submit"><a href="/memories/edit">Edit Memory</a></button>
</div> --}}
 {{!-- {{else}}
  <p>Ups! There are no memories yet!</p>
  {{/each}}

<button type="submit"><a href="/memories/add">Add memory</a></button>

</div> --}}


{{#each memories}}
<h2><a href="/city/{{this._id}}">{{this.name}}</a></h2> 
{{/each}}
<button type="submit"><a href="/memories/add">Add memory</a></button>
